.search-header{
    background-color: #9e9e9e;
    height: 2rem;
    border-radius: 0.25rem 0.25rem 0 0;
}
.card{
     box-shadow: 0 0.1rem 1rem 0.1rem #cfd8dc;
}
.btn-primary{
    background-color: #03a9f4 !important;
}