<div class="card mx-3 p-0 my-4 border-0">
  <div class="m-0 px-3 pt-1">
    <span><h4 class="mb-0 mt-2">Search Jobs</h4></span>
  </div>
  <hr>
    <form class="my-3" [formGroup]="searchForm">
      <div class="row mx-0">
        <div class="col-md-3 px-3">
            <label for="experience">Experience</label>
            <select name="experience" class="form-control w-100" formControlName="experienceControl">
              <option value="">All</option>
              <option value="fresher">Fresher</option>
              <option value="yrs">Experience</option>
            </select>
        </div>
        <div class="col-md-3 px-3">
          <label for="location">Location</label>
          <input type="text" name="location" placeholder="Eg. Bangalore" formControlName="locationControl" class="form-control w-100">
        </div>
        <div class="col-md-3  px-3">
            <label for="skill">Skill</label>
            <input type="text" name="skill" placeholder="Eg. Java" formControlName="skillControl" class="form-control w-100">
        </div>
        <div class="col-md-3 py-4 px-5">
          <input type="button" class="btn btn-primary border-0 form-control w-100" (click)="getData()" value="Search"/>
      </div>
      </div>  
    </form>

    <app-spinner *ngIf="showLoader"></app-spinner>
</div>