<div class="card m-3">
    <div class="m-0 px-3 pt-1">
        <span><h4 class="mb-0 mt-2">Jobs Listings</h4></span>
    </div>
    <hr>
  <div class="row" *ngIf="data?.length">
    <div class="col-md-3 d-flex flex-column py-4 px-5">
      <h6><b>Filter By Company</b></h6>
      <form [formGroup]="filterForm">
        <input type="filterText" placeholder="Company Name" formControlName="companyControl" class="form-control w-100">
        <input type="button" value="Apply" (click)="filterBy();" class="btn btn-outline-dark btn-sm mt-3"/>
      </form>
    </div>
    <div class="col-md-9 mx-auto">
      <span class="d-flex justify-content-between" *ngIf="showRecords">
          <span class="mt-3 ml-3"><b>Total Job(s) :</b> {{data?.length}}</span>
          <span class="mr-5">
              <input type="button" (click)="sortBy('location')" value="Sort by Location" class="btn btn-outline-dark btn-sm mt-3 mx-3"/>
              <input type="button" (click)="sortBy('experience')" value="Sort by Experience" class="btn btn-outline-dark btn-sm mt-3"/>
          </span>
      </span>
      
        
      <div class="row p-3" *ngIf="showRecords">
        <div class="card col-md-5 m-3" *ngFor="let jobData of data">
            <div class="card-body">
                <app-list [job]="jobData"></app-list>
            </div>
    
        </div>
        
      </div>
      <app-spinner *ngIf= "!showRecords"></app-spinner>
    </div>
  </div>
  <div class="alert alert-danger" *ngIf="!data?.length">
    <span class="text-center">
      No Record(s) Found for selected criteria
    </span>  
  </div>
</div>
