<div class=" d-flex flex-column">
    <span *ngIf="job.title"><b>Job Title</b> : {{job.title}}</span>
    <span *ngIf="job.companyname"><b>Company</b> : {{job.companyname}}</span>
    <span *ngIf="job.jd"><b>Job Description</b> : {{job.jd}}</span>
    <span *ngIf="job.location"><b>Location</b> : {{job.location}}</span>
    <span *ngIf="job.experience"><b>Experience</b> : {{job.experience}}</span>
    <span *ngIf="job.salary"><b>Salary</b> : {{job.salary}}</span>
    <span *ngIf="job.type"><b>Type</b> : {{job.type}}</span>
    <span *ngIf="job.skills"><b>Skill(s)</b> : {{job.skills}}</span>
    <span *ngIf="job.startdate"><b>Start Date</b> : {{job.startdate}}</span>
    <span *ngIf="job.enddate"><b>End Date</b> : {{job.enddate}}</span>
    <span *ngIf="job.created"><b>Created at</b> : {{job.created}}</span>
    <span *ngIf="job.applylink"><b>ApplyLink</b> : <a href="{{job.applylink}}">{{job.applylink}}</a></span>
    <span *ngIf="job.source"><b>Source</b> : {{job.source}}</span>
</div>

