<!-- As this application has only single page so I designed & work on 
app module only!! For Your Reference, If multiple modules exists then I will 
make seperate module for each related functionality. For speed bundle loading,
I will use lazy loading technique-->

<!-- Header of the page -->
<app-header></app-header>

<!-- Search Component is made which is used to take input from user & this
component can be used anywhere in our application so it produces modularity in
application -->
<!-- Search component output the response came from server and that response
will be manipulated by our app.component.ts file and job listing flag will be 
changed accordingly -->
<!-- Search Component Below -->
<app-search (responseData)="setResponseData($event)"></app-search>

<!-- Job Listing component will take the input data that is basically the response
returned by app search component & it will render the result over the web page -->
<app-job-listing *ngIf="jobListingFlag" [data]="data"></app-job-listing>

<!-- Footer below -->
<app-footer></app-footer>